.post {
  position: relative;
  padding: 501px 0 40px;
}

.post-img {
  position: absolute;
  height: 500px;
  top: -79px;
  left: 50%;
  transform: translateX(-50%);
}

.post .container {
  max-width: 810px;
}

.preview-text {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 24px;
}

.main-text {
  color: var(--primary-color);
  line-height: 1.6;
  margin: 24px 0;
}

.quote {
  display: flex;
  gap: 30px;
  margin: 48px 0;
}

.quote-icon {
  min-width: 28px;
  width: 28px;
  height: 28px;
}

.quote-text {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

ul.post-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 24px 0;
}

.post-list li {
  display: flex;
  align-items: center;
  gap: 16px;

  color: var(--primary-color);
  line-height: 1.6;
}

.post-list-icon {
  width: 16px;
  height: 16px;
}

.post-share {
  display: flex;
  gap: 12px;
  margin-top: 60px;

  color: var(--title-color);
  font-weight: 700;
  line-height: 1.6;
}
