#header {
  background-color: var(--cloud);
}

.hero {
  padding: 54px 0 160px;
  background-color: var(--cloud);
}

.page-path {
  font-size: 14px;
  line-height: 1.5;
  color: var(--light-gray);
}

.page-path:has(.post-path.loader) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.page-path-dark {
  color: var(--primary-color);
}

.post__title {
  font-size: 64px;
  line-height: 1.2;
  margin: 40px 0 48px;
  max-width: none;
}

.post__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 80px;
}

.post__date-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  color: var(--secondary-color);
  line-height: 1.6;
}

.post__date-list li:first-child {
  color: var(--red-color);
}

.post__date-list li {
  display: flex;
  align-items: center;
  gap: 9px;
}

.post__date-list li:not(:last-child) {
  position: relative;
  padding-right: 12px;
}

.post__date-list li:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: 0;
  content: '';
  transform: translateY(-50%);
  width: 0px;
  height: 16px;
  background-color: var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
}

.post__date-list svg {
  width: 20px;
  height: 20px;
  fill: var(--secondary-color);
}

.post__social-list {
  display: flex;
  gap: 12px;
}

.post__social-list li {
  height: 24px;
}

.post__social-list svg {
  width: 24px;
  height: 24px;
  fill: var(--secondary-color);
}

.post-path.loader {
  display: inline-flex;
  height: 21px;
  width: 150px;
  border-radius: 4px;
  margin-left: 5px;
  background-color: var(--loading-bg);
}

.post__title.loader {
  height: calc(1em * 1.2 * 2);
  border-radius: 10px;
  background-color: var(--loading-bg);
}

.post__date-text.loader {
  height: 1.5em;
  width: 100px;
  border-radius: 4px;
  background-color: var(--loading-bg);
}

@media screen and (max-width: 1024px) {
  .hero {
    padding: 54px 0 140px;
  }

  .post__title {
    font-size: 48px;
    margin: 40px 0;
  }
}

@media screen and (max-width: 768px) {
  .post__title {
    font-size: 36px;
    margin: 30px 0;
  }

  .post__title.loader {
    height: calc(1em * 1.2 * 3);
  }
}

@media screen and (max-width: 425px) {
  .post__title {
    font-size: 30px;
    margin: 20px 0;
  }

  .post__title.loader {
    height: calc(1em * 1.2 * 4);
  }
}

@media screen and (max-width: 375px) {
  .post__title {
    font-size: 28px;
  }
}
