.post {
  position: relative;
  padding: 0 0 60px;
}

.post__img,
.post__img-loader {
  margin: -200px 0 80px;
  aspect-ratio: 2/1;
  background-color: var(--loading-bg);
  pointer-events: all;
  opacity: 1;
}

.post__img-loader {
  margin: -80px 0 140px;
}

.post__img.hidden,
.post__img-loader.hidden {
  pointer-events: none;
  height: 0;
  opacity: 0;
}

.post__text-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 900px;
  text-align: justify;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 0 auto;
}

.post__text-list.loader li {
  background-color: var(--loading-bg);
  border-radius: 8px;
}

.post__text-list.loader li:first-child {
  height: 90px;
  width: 90%;
}

.post__text-list.loader li:nth-child(3n) {
  height: 300px;
  width: 96%;
}

.post__text-list.loader li:nth-child(2n) {
  height: 75px;
  width: 100%;
}

.post__text-list.loader li:last-child {
  height: 160px;
  width: 98%;
}

.post__preview-text {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.post__main-text {
  color: var(--primary-color);
  line-height: 1.6;
}

.post__quote {
  display: flex;
  gap: 30px;
  padding: 10px 0;
}

.post__quote-icon {
  width: 28px;
  min-width: 28px;
  height: 28px;
}

.post__quote-text {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.post__subtext-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.post__subtext-item {
  display: flex;
  align-items: center;
  gap: 16px;

  color: var(--primary-color);
  line-height: 1.6;
}

.post__subtext-icon {
  min-width: 16px;
  width: 16px;
  height: 16px;
}

.post__share {
  display: flex;
  gap: 12px;
  margin-top: 60px;

  color: var(--title-color);
  font-weight: 700;
  line-height: 1.6;
}

@media screen and (max-width: 1024px) {
  .post__img {
    margin: -140px 0 60px;
  }

  .post__img-loader {
    margin: -80px 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .post__img {
    margin: -150px 0 40px;
  }

  .post__text-list {
    padding: 0;
  }

  .post__quote {
    gap: 18px;
  }

  .post__quote-icon {
    min-width: 22px;
    width: 22px;
    height: 22px;
  }
}

@media screen and (max-width: 425px) {
  .post__img {
    margin: -180px 0 30px;
  }

  .post__text-list {
    gap: 16px;
  }
}
