.media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-top: -155px;
  transform: translateY(-120px);
}

li:has(.media-btn) {
  width: 230px;
  height: 154px;
}

.media-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 16px;

  border: none;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);

  transition: background-color 0.25s ease-in-out 0.1s,
    box-shadow 0.3s ease-in-out;
}

.media-btn:hover,
.media-btn:focus,
.media-btn.active {
  background-color: var(--red-color);
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.1),
    0px 12px 10px -6px rgba(255, 90, 48, 0.13),
    0px 26px 24px -10px rgba(255, 90, 48, 0.15),
    0px 60px 80px -20px rgba(255, 90, 48, 0.21);
}

.media-icon {
  width: 48px;
  height: 48px;
  fill: var(--red-color);
  transition: fill 0.3s ease-in-out 0.1s;
  pointer-events: none;
}

.media-btn:hover .media-icon,
.media-btn:focus .media-icon,
.media-btn.active .media-icon {
  fill: #fff;
}

.media-title {
  color: var(--light-gray);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  transition: color 0.3s ease-in-out 0.1s;
  pointer-events: none;
}

.media-btn:hover .media-title,
.media-btn:focus .media-title,
.media-btn.active .media-title {
  color: #fff;
}

@media screen and (max-width: 1024px) {
  li:has(.media-btn) {
    width: 209px;
    height: 154px;
  }
}

@media screen and (max-width: 768px) {
  li:has(.media-btn) {
    width: 172px;
    height: 154px;
  }
}

@media screen and (max-width: 425px) {
  li:has(.media-btn) {
    width: calc((100% - 20px) / 2);
    height: 140px;
  }
}
