.projects {
  position: relative;
  padding: 215px 0 100px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.projects-card {
  position: relative;
  display: flex;
  justify-content: center;
  height: 440px;
  width: 390px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  transition: box-shadow 0.25s ease-in-out 0.1s;
}

.projects-card:hover,
.projects-card:focus {
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.1),
    0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}

.projects-card-box {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 16px 0 24px;
  text-align: center;
  background-color: #fff;
  width: 102%;
  transform: translateY(70px);
  transition: transform 0.25s ease-in-out 0.1s;
}

.projects-card:hover .projects-card-box,
.projects-card:focus .projects-card-box {
  transform: translateY(0);
}

.projects .card-title {
  margin-bottom: 4px;
}

.projects-card-text {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.projects-card-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 44px;
  border: 1px solid var(--red-color);
  border-radius: 4px;
  margin-top: 24px;

  color: var(--red-color);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 3.14;
  letter-spacing: 0.036em;
  text-transform: uppercase;
  transition: color 0.25s ease-in-out 0.1s,
    background-color 0.25s ease-in-out 0.1s, box-shadow 0.25s ease-in-out 0.1s;
}

.projects-card-link:hover,
.projects-card-link:focus {
  background-color: var(--red-color);
  color: #fff;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.1),
    0px 12px 10px -6px rgba(255, 90, 48, 0.13),
    0px 26px 24px -10px rgba(255, 90, 48, 0.15),
    0px 60px 80px -20px rgba(255, 90, 48, 0.21);
}

.projects-load-more {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 60px auto 0;
  border: none;
  background-color: transparent;
}

.projects-load-icon {
  width: 22px;
  height: 22px;
}

.projects-load-more.active .projects-load-icon {
  animation: spin 0.7s linear;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1024px) {
  .projects .container {
    padding: 0 50px;
  }

  .projects-card {
    width: calc((100% - 30px) / 2);
    max-width: 390px;
  }
}

@media screen and (max-width: 1024px) {
  .projects .container {
    padding: 0 50px;
  }

  .projects-card {
    width: calc((100% - 30px) / 2);
    max-width: 390px;
  }
}

@media screen and (max-width: 768px) {
  .projects .container {
    padding: 0 30px;
  }

  .projects-card {
    width: 390px;
  }

  .projects-card-box {
    transform: translate(0);
  }

  .projects-card-link {
    margin-top: 12px;
  }
}

@media screen and (max-width: 425px) {
  .projects-list {
    gap: 20px;
  }
}

@media screen and (max-width: 375px) {
  .projects-img {
    height: 67%;
  }
}
