<section class="news">
  <div class="container">
    <div class="news__tilte-wrap">
      <h2 class="news__tilte section-title">Categories</h2>
    </div>
    <ul class="news__filter list" id="news-filter">
      <li class="news__filter-item active">
        <button class="news__filter-btn" type="button" data-filter="all">
          All News
        </button>
      </li>
      <li class="news__filter-item">
        <button
          class="news__filter-btn"
          type="button"
          data-filter="Company News"
        >
          Company News
        </button>
      </li>
      <li class="news__filter-item">
        <button class="news__filter-btn" type="button" data-filter="Innovation">
          Innovation
        </button>
      </li>
      <li class="news__filter-item">
        <button
          class="news__filter-btn"
          type="button"
          data-filter="Industry News"
        >
          Industry News
        </button>
      </li>
      <li class="news__filter-item">
        <button
          class="news__filter-btn"
          type="button"
          data-filter="Expert Tips"
        >
          Expert Tips
        </button>
      </li>
      <li class="news__filter-item">
        <button class="news__filter-btn" type="button" data-filter="Marketing">
          Marketing
        </button>
      </li>
    </ul>
    <ul class="news__list list" id="news-list"></ul>
  </div>
</section>
