<section class="services">
  <div class="container">
    <ul class="services-list list">
      <li class="services-card">
        <img
          src="./img/services-page-img/construction.jpg"
          alt="Construction"
        />
        <div class="services-wrapper">
          <h2 class="services-title">Construction</h2>
          <p class="services-text">
            Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius
            consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id
            sodales ultricies sed ut ut augue. Mattis habitant venenatis,
            gravida posuere massa ac interdum. Eget aliquam dignissim ut
            vestibulum.
          </p>
          <a class="services-link" href="./service.html?service=0"
            >Learn more</a
          >
        </div>
      </li>
      <li class="services-card">
        <img
          src="./img/services-page-img/project-development.jpg"
          alt="Project-development"
        />
        <div class="services-wrapper">
          <h2 class="services-title">Project Development</h2>
          <p class="services-text">
            Volutpat tellus mauris sit sit. Posuere ut sit vestibulum amet
            viverra in. Est nulla lectus purus tincidunt massa tortor. Hendrerit
            vulputate elementum blandit massa vitae amet felis eget.
          </p>
          <a class="services-link" href="./service.html?service=1"
            >Learn more</a
          >
        </div>
      </li>
      <li class="services-card">
        <img
          src="./img/services-page-img/interior-design.jpg"
          alt="Interior-design"
        />
        <div class="services-wrapper">
          <h2 class="services-title">Interior Design</h2>
          <p class="services-text">
            Eleifend orci massa et facilisis orci feugiat ac. Congue in ut
            lacus, turpis accumsan gravida. Aliquet mattis dignissim massa
            sociis a, id bibendum. Egestas lorem eros, mi cras amet, vel eget
            molestie. Turpis enim arcu, amet donec massa pellentesque nulla
            duis. Arcu dictum metus sed purus senectus faucibus eget elementum
            pretium.
          </p>
          <a class="services-link" href="./service.html?service=2"
            >Learn more</a
          >
        </div>
      </li>
      <li class="services-card">
        <img src="./img/services-page-img/repairs.jpg" alt="Repairs" />
        <div class="services-wrapper">
          <h2 class="services-title">Repairs</h2>
          <p class="services-text">
            Facilisis cursus feugiat sit pulvinar amet. Ac facilisi dictum
            commodo, tortor gravida pretium, orci. Nunc sit sollicitudin id
            egestas mattis. Turpis viverra nec urna ultrices urna.
          </p>
          <a class="services-link" href="./service.html?service=3"
            >Learn more</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
