<section class="hero">
  <div class="container">
    <p class="page-path">
      <span class="page-path-dark">Homepage / News</span>
      <span id="post-path">/ Path</span>
    </p>
    <h1 class="post__title page-title" id="post-title">Name of the post</h1>
    <div class="post-info">
      <ul class="post-date-list list">
        <li><p id="post-type">Constructions</p></li>
        <li>
          <svg class="post-comment-icon">
            <use href="./img/icons.svg#icon-clock"></use>
          </svg>
          <p id="post-date">June 24, 2020</p>
        </li>
        <li class="post-comments">
          <svg class="post-comment-icon">
            <use href="./img/icons.svg#icon-comments"></use>
          </svg>
          <p id="post-comments-num">No comments</p>
        </li>
      </ul>
      <ul class="hero-soc-list list">
        <li>
          <a href="">
            <svg>
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg>
              <use href="./img/icons.svg#icon-linked"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg>
              <use href="./img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
