<section class="comment">
  <div class="comment__container container">
    <p class="comment__title section-title">Leave your comment</p>
    <form class="comment__form" action="" id="comment-form">
      <label for="commentUsername">
        Name*
        <input
          type="text"
          name="username"
          id="commentUsername"
          placeholder="Your name"
          required
        />
      </label>
      <label for="commentUserEmail">
        Email*
        <input
          type="text"
          name="userEmail"
          id="commentUserEmail"
          placeholder="Your email"
          required
        />
      </label>
      <label for="commentUserComment">
        Your comment*
        <textarea
          name="userComment"
          id="commentUserComment"
          placeholder="Type comment here"
          required
        ></textarea>
      </label>
      <button type="submit">Post comment</button>
    </form>
  </div>
</section>
