<section class="hero">
  <div class="container">
    <p class="page-path">
      <span class="page-path-dark">Homepage / News</span>
      <span class="post-path loader" id="post-path"></span>
    </p>
    <h1 class="post__title page-title loader" id="post-title"></h1>
    <div class="post__info">
      <ul class="post__date-list list">
        <li>
          <p class="post__date-text loader" id="post-type"></p>
        </li>
        <li>
          <svg class="post__comment-icon">
            <use href="./img/icons.svg#icon-clock"></use>
          </svg>
          <p class="post__date-text loader" id="post-date"></p>
        </li>
        <li class="post__comments">
          <svg class="post__comment-icon">
            <use href="./img/icons.svg#icon-comments"></use>
          </svg>
          <p class="post__date-text loader" id="post-comments-num"></p>
        </li>
      </ul>
      <ul class="post__social-list list">
        <li>
          <a href="">
            <svg>
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg>
              <use href="./img/icons.svg#icon-linked"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg>
              <use href="./img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
