.news {
  display: flex;
  justify-content: center;
  padding: 90px 0 120px;
}

.news-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.news-card {
  grid-column: 2;
  align-items: start;
  max-height: 255px;

  border-radius: 8px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  background-color: var(--white);
  transition: box-shadow 0.3s ease-in;
}

.news-card:first-child {
  grid-column: 1;
  grid-row: span 2;
  width: 705px;
  max-height: 540px;
}

.news-card:has(.card-title:hover) {
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.1),
    0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}

.news-card-img-wrapper {
  width: 100%;
  max-height: 156px;
  overflow: hidden;
}

.news-card-img {
  width: 100%;
  object-fit: cover;
  object-position: 0 calc(50% - 50px);
  border-radius: 8px 8px 0px 0px;
}

.news-card:first-child .news-card-img-wrapper {
  max-height: none;
}

.news-card:first-child .news-card-img {
  object-fit: contain;
  object-position: 0;
}

.news-card .news-card-content {
  padding: 16px 24px 24px;
}

.news-card:first-child .news-card-content {
  padding: 24px;
}

.news-card .card-title {
  display: block;
  max-width: 420px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color 0.3s ease-in;
}

.news-card .card-title:hover,
.news-card .card-title:focus {
  color: var(--red-color);
}

.news-card-text {
  margin-top: 16px;
  color: var(--primary-color);
  line-height: 1.6;
  letter-spacing: 0;
}

.news-date-list {
  display: flex;
  gap: 12px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--secondary-color);
}

.news-info {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}

.news-comments {
  display: flex;
  align-items: center;
  gap: 8px;
}

.news-comment-icon {
  width: 16px;
  height: 16px;
}

/* .main-news {
  max-width: 705px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  border-radius: 4px;
  background-color: #fff;
  transition: box-shadow 0.2s ease-in-out 0.1s;
}

.news-content {
  padding: 24px 24px 25px;
}

.card-title {
  display: block;
  margin-bottom: 12px;
}

.news-text {
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary-color);
  margin-top: 16px;
}

.news-card {
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(120, 129, 170, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  transition: box-shadow 0.2s ease-in-out 0.1s;
}

.news-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.news .news-title {
  transition: color 0.2s ease-in-out 0.1s;
}

.other-news-card:first-child:hover .news-title,
.other-news-card:last-child:hover .news-title,
.main-news:hover .news-title {
  color: var(--red-color);
}

.news-content {
  padding: 16px 24px 24px;
}

.news-card .news-title {
  display: block;
  margin-bottom: 8px;
}



.news-date-decor-item {
  outline: 1px solid var(--secondary-color);
  border-radius: 25%;
  height: 12px;
  align-self: center;
  opacity: 0.8;
}

.main-news:hover,
.main-news:focus,
.other-news-card:hover,
.other-news-card:focus {
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.1),
    0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}

@media screen and (max-width: 1440px) {
  .news {
    padding: 90px 100px 120px;
  }

  .news-page {
  }

  .other-news-list {
    width: 100%;
    flex-direction: row;
  }

  .other-news-card {
    width: calc((100% - 30px) / 2);
  }

  .other-news-card img {
    width: 100%;
  }
} */
