<ul class="media-list list">
  <li>
    <button class="media-btn active" type="button" data-media="all">
      <svg class="media-icon">
        <use href="./img/icons.svg#icon-house"></use>
      </svg>
      <h6 class="media-title">All Projects</h6>
    </button>
  </li>
  <li>
    <button class="media-btn" type="button" data-media="construction">
      <svg class="media-icon">
        <use href="./img/icons.svg#icon-construction"></use>
      </svg>
      <h6 class="media-title">Construction</h6>
    </button>
  </li>
  <li>
    <button class="media-btn" type="button" data-media="development">
      <svg class="media-icon">
        <use href="./img/icons.svg#icon-plan"></use>
      </svg>
      <h6 class="media-title">Project Development</h6>
    </button>
  </li>
  <li>
    <button class="media-btn" type="button" data-media="design">
      <svg class="media-icon">
        <use href="./img/icons.svg#icon-pantone"></use>
      </svg>
      <h6 class="media-title">Interior Design</h6>
    </button>
  </li>
  <li>
    <button class="media-btn" type="button" data-media="repairs">
      <svg class="media-icon">
        <use href="./img/icons.svg#icon-painting"></use>
      </svg>
      <h6 class="media-title">Repairs</h6>
    </button>
  </li>
</ul>
