<section class="history">
  <div class="container">
    <h2 class="section-title">Our history</h2>
    <div class="history-wrapper">
      <ul class="history-list">
        <li class="history-list-item active">
          <button type="button">Present</button>
        </li>
        <li class="history-list-item">
          <button type="button">March 2019</button>
        </li>
        <li class="history-list-item">
          <button type="button">November 2018</button>
        </li>
        <li class="history-list-item">
          <button type="button">July 2015</button>
        </li>
        <li class="history-list-item">
          <button type="button">August 2010</button>
        </li>
        <li class="history-list-item">
          <button type="button">February 2007</button>
        </li>
        <li class="history-list-item">
          <button type="button">May 2004</button>
        </li>
        <li class="history-list-item">
          <button type="button">October 2001</button>
        </li>
        <li class="history-list-item">
          <button type="button">June 2000</button>
        </li>
      </ul>
      <div class="active-history-card">
        <img
          class="active-history-img"
          src="../../img/about-page-img/history/history-1.jpg"
          alt="Construction"
        />
        <p class="history-text">
          Bcelerisque dapibus pharetra nibh semper iaculis duis viverra
          porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi.
          Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
          Eu nec vitae.
        </p>
      </div>
      <div class="history-btns-wrapper" id="history-slider">
        <button class="history-btn" type="button" data-btn="l">
          <svg class="history-btn-icon">
            <use href="../../img/icons.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button class="history-btn" type="button" data-btn="r">
          <svg class="history-btn-icon">
            <use href="../../img/icons.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
