<section class="facts">
  <div class="container">
    <ul class="facts-list list">
      <li class="facts-list-item">
        <svg class="facts-icon">
          <use href="../../img/icons.svg#icon-like"></use>
        </svg>
        <p class="fact-num">60%</p>
        <p class="facts-item-text">Clients on the recommendation of friends</p>
      </li>
      <li class="facts-list-item">
        <svg class="facts-icon">
          <use href="../../img/icons.svg#icon-painting"></use>
        </svg>
        <p class="fact-num">2400+</p>
        <p class="facts-item-text">Apartments renovated</p>
      </li>
      <li class="facts-list-item">
        <svg class="facts-icon">
          <use href="../../img/icons.svg#icon-helmet"></use>
        </svg>
        <p class="fact-num">670</p>
        <p class="facts-item-text">Qualified specialists</p>
      </li>
      <li class="facts-list-item">
        <svg class="facts-icon">
          <use href="../../img/icons.svg#icon-pantone"></use>
        </svg>
        <p class="fact-num">150000+m&#178;</p>
        <p class="facts-item-text">Finishing work was carried out</p>
      </li>
    </ul>
  </div>
</section>
