<section class="comment">
  <div class="container">
    <div class="comment-wrapper">
      <div class="ceo-comment">
        <p class="comment-text">
          Dapibus nec vitae ante mattis. Aliquam phasellus ac dui augue in. Sed
          aliquet in egestas hac at proin sed quam. Etiam aliquet sagittis non,
          massa cum pulvinar. Et in leo, tempus purus vestibulum ut blandit et
          mi. Odio massa purus vel praesent arcu enim elit felis viverra.
        </p>
        <p class="comment-text">
          Magna aliquam interdum mattis ipsum arcu. Elit odio elit viverra quis
          metus amet eleifend amet. Vet suspendisse faucibus tempor ipsum
          integer.
        </p>
        <div class="comment-bottom">
          <div>
            <p class="comment-nickname">Shawn Edwards</p>
            <p class="comment-position">CEO - Createx Construction Bureau</p>
          </div>
          <svg class="comment-signature-icon">
            <use href="../../img/icons.svg#icon-signature"></use>
          </svg>
        </div>
        <svg class="comment-braces-icon">
          <use href="../../img/icons.svg#icon-braces"></use>
        </svg>
      </div>
      <img
        class="comment-img"
        src="../../img/about-page-img/seo-img.jpg"
        alt="CEO's photo"
      />
    </div>
  </div>
</section>
