<section class="partners">
  <div class="container">
    <h2 class="section-title section-title-margin">Our partners</h2>
    <p class="section-text">
      We are supported by 12+ industry bodies and media partners
    </p>
    <ul class="partners-list list">
      <li class="partners-item">
        <a class="partners-link" href="">
          <img
            class="partners-img"
            src="../../img/partners-img/partner-logo-1.png"
            alt=""
          />
        </a>
      </li>
      <li class="partners-item">
        <a class="partners-link" href="">
          <img
            class="partners-img"
            src="../../img/partners-img/partner-logo-2.png"
            alt=""
          />
        </a>
      </li>
      <li class="partners-item">
        <a class="partners-link" href="">
          <img
            class="partners-img"
            src="../../img/partners-img/partner-logo-3.png"
            alt=""
          />
        </a>
      </li>
      <li class="partners-item">
        <a class="partners-link" href="">
          <img
            class="partners-img"
            src="../../img/partners-img/partner-logo-4.png"
            alt=""
          />
        </a>
      </li>
      <li class="partners-item">
        <a class="partners-link" href="">
          <img
            class="partners-img"
            src="../../img/partners-img/partner-logo-5.png"
            alt=""
          />
        </a>
      </li>
      <li class="partners-item">
        <a class="partners-link" href="">
          <img
            class="partners-img"
            src="../../img/partners-img/partner-logo-6.png"
            alt=""
          />
        </a>
      </li>
      <li class="partners-item">
        <a class="partners-link" href="">
          <img
            class="partners-img"
            src="../../img/partners-img/partner-logo-7.png"
            alt=""
          />
        </a>
      </li>
      <li class="partners-item">
        <a class="partners-link" href="">
          <img
            class="partners-img"
            src="../../img/partners-img/partner-logo-8.png"
            alt=""
          />
        </a>
      </li>
      <li class="partners-item">
        <a class="partners-link" href="">
          <img
            class="partners-img"
            src="../../img/partners-img/partner-logo-9.png"
            alt=""
          />
        </a>
      </li>
      <li class="partners-item">
        <a class="partners-link" href="">
          <img
            class="partners-img"
            src="../../img/partners-img/partner-logo-10.png"
            alt=""
          />
        </a>
      </li>
      <li class="partners-item">
        <a class="partners-link" href="">
          <img
            class="partners-img"
            src="../../img/partners-img/partner-logo-11.png"
            alt="United Strategy logo"
          />
        </a>
      </li>
      <li class="partners-item">
        <a class="partners-link" href="">
          <img
            class="partners-img"
            src="../../img/partners-img/partner-logo-12.png"
            alt="United Strategy logo"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
