<section class="hero">
  <div class="container">
    <p class="page-path">
      <span class="page-path-dark">Homepage / Work</span>
      <span id="project-path"></span>
    </p>
    <h1
      class="project__title page-title project__title_loader"
      id="project-title"
    ></h1>
    <div class="project__gallery-wrapper">
      <ul class="project__gallery list" id="project-gallery">
        <li class="project__gallery-loader"></li>
      </ul>
      <button
        class="project__gallery-btn project__gallery-btn_left"
        type="button"
      >
        <svg class="project__gallery-icon project__gallery-icon_left">
          <use href="./img/icons.svg#icon-left-arrow"></use>
        </svg>
      </button>
      <button
        class="project__gallery-btn project__gallery-btn_right"
        type="button"
      >
        <svg class="project__gallery-icon project__gallery-icon_right">
          <use href="./img/icons.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
    <ul class="project__gallery-small list" id="project-small-gallery">
      <li class="project__gallery-small-item active"></li>
      <li class="project__gallery-small-item"></li>
      <li class="project__gallery-small-item"></li>
      <li class="project__gallery-small-item"></li>
      <li class="project__gallery-small-item"></li>
      <li class="project__gallery-small-item"></li>
    </ul>
    <div class="project__info">
      <div class="project__goal">
        <h2 class="section-title project__goal-title">Project goal</h2>
        <p class="project__goal-text" id="project-description"></p>
      </div>
      <ul class="project__info-list list" id="project-info">
        <li>Location</li>
        <li></li>
        <li>CLIENT</li>
        <li></li>
        <li>ARCHITECT</li>
        <li></li>
        <li>SIZE</li>
        <li></li>
        <li>VALUE</li>
        <li></li>
        <li>COMPLETED</li>
        <li></li>
      </ul>
    </div>
  </div>
</section>
