<section class="decisions">
  <div class="container">
    <h2 class="section-title">Constructive decisions</h2>
    <img
      class="decisions-img"
      src="./img/project-img/decisions-img.jpg"
      alt="Worker"
    />
    <ul class="decisions-list list">
      <li class="decisions-item">
        <svg class="decision-check-icon">
          <use href="./img/icons.svg#icon-check"></use>
        </svg>
        Vitae ultrices ornare eu sed in est quisque duis id.
      </li>
      <li class="decisions-item">
        <svg class="decision-check-icon">
          <use href="./img/icons.svg#icon-check"></use>
        </svg>
        A fermentum in morbi pretium aliquam adipiscing donec tempus.
      </li>
      <li class="decisions-item">
        <svg class="decision-check-icon">
          <use href="./img/icons.svg#icon-check"></use>
        </svg>
        Mauris odio pellentesque commodo, diam.
      </li>
      <li class="decisions-item">
        <svg class="decision-check-icon">
          <use href="./img/icons.svg#icon-check"></use>
        </svg>
        Fermentum vestibulum est fermentum, egestas gravida scelerisque quis.
      </li>
      <li class="decisions-item">
        <svg class="decision-check-icon">
          <use href="./img/icons.svg#icon-check"></use>
        </svg>
        At pharetra libero blandit risus, fringilla sed commodo diam.
      </li>
      <li class="decisions-item">
        <svg class="decision-check-icon">
          <use href="./img/icons.svg#icon-check"></use>
        </svg>
        Integer ultricies viverra ut enim viverra ut.
      </li>
    </ul>
  </div>
</section>
