<section class="hero">
  <div class="container">
      <span class="page-path-dark">Homepage / Work</span> / 
      <span id="project-path">Project Name</span>
    </p>
    <h1 class="project-title" id="project-title"></h1>
    <div class="project-img-list-wrapper">
      <ul class="project-img-list list" id="project-gallery">
        <li style="background-image: url()"></li>
      </ul>
      <button class="slider-left-btn" type="button">
        <svg class="slider-left-icon">
          <use href="./img/icons.svg#icon-left-arrow"></use>
        </svg>
      </button>
      <button class="slider-right-btn" type="button">
        <svg class="slider-right-icon">
          <use href="./img/icons.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
    <ul class="project-small-img-list list" id="project-small-gallery">
      <li class="project-small-img-item active"></li>
      <li class="project-small-img-item"></li>
      <li class="project-small-img-item"></li>
      <li class="project-small-img-item"></li>
      <li class="project-small-img-item"></li>
      <li class="project-small-img-item"></li>
    </ul>
    <div class="project-info-box">
      <div class="project-goal">
        <h2 class="section-title">Project goal</h2>
        <p class="project-goal-text" id="project-description"></p>
      </div>
      <ul class="project-info-list list" id="project-info">
        <li>Location</li>
        <li>2464 Royal Ln. Mesa, New Jersey</li>
        <li>CLIENT</li>
        <li>Darlene Robertson</li>
        <li>ARCHITECT</li>
        <li>HIK Architecture</li>
        <li>SIZE</li>
        <li>840 sq. feet</li>
        <li>VALUE</li>
        <li>$2 million</li>
        <li>COMPLETED</li>
        <li>May 2020</li>
      </ul>
    </div>
  </div>
</section>