<section class="decisions">
  <div class="decisions__container container">
    <img
      class="decisions__img"
      src="./img/project-img/decisions-img.jpg"
      alt="Worker"
    />
    <div class="decisions__wrapper">
      <h2 class="decisions__title section-title">Constructive decisions</h2>
      <ul class="decisions__list list">
        <li class="decisions__item">
          <svg class="decisions__icon">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
          Vitae ultrices ornare eu sed in est quisque duis id.
        </li>
        <li class="decisions__item">
          <svg class="decisions__icon">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
          A fermentum in morbi pretium aliquam adipiscing donec tempus.
        </li>
        <li class="decisions__item">
          <svg class="decisions__icon">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
          Mauris odio pellentesque commodo, diam.
        </li>
        <li class="decisions__item">
          <svg class="decisions__icon">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
          Fermentum vestibulum est fermentum, egestas gravida scelerisque quis.
        </li>
        <li class="decisions__item">
          <svg class="decisions__icon">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
          At pharetra libero blandit risus, fringilla sed commodo diam.
        </li>
        <li class="decisions__item">
          <svg class="decisions__icon">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
          Integer ultricies viverra ut enim viverra ut.
        </li>
      </ul>
    </div>
  </div>
</section>
