<section class="pricing">
  <div class="container">
    <h2 class="pricing__title section-title">Pricing</h2>
    <p class="pricing__text">We offer you three categories of construction.</p>
    <div class="pricing__wrapper">
      <table class="pricing__table">
        <thead class="pricing__head">
          <tr>
            <th>Items</th>
            <th>Installation plan</th>
            <th>Planning solutions (2-3 options)</th>
            <th>Lighting plan</th>
            <th>Flooring plan</th>
            <th>Heating floor laying scheme</th>
            <th>Air conditioner zones layout</th>
            <th>3D visualization of all rooms</th>
            <th>Visualization of each room (3-4 angles)</th>
            <th>Terms</th>
          </tr>
        </thead>
        <tbody class="pricing__body">
          <tr class="pricing__column">
            <td>
              <p class="pricing__column-title">basic</p>
              <p class="pricing__column-price">$20 per m2</p>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>simplified</td>
            <td></td>
            <td>10 days</td>
            <td>
              <button class="price__btn" type="button">send request</button>
            </td>
          </tr>
          <tr class="pricing__column">
            <td>
              <p class="pricing__column-title">standart</p>
              <p class="pricing__column-price">$30 per m2</p>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td></td>
            <td>20 days</td>
            <td>
              <button class="price__btn" type="button">send request</button>
            </td>
          </tr>
          <tr class="pricing__column">
            <td>
              <p class="pricing__column-title">business</p>
              <p class="pricing__column-price">$40 per m2</p>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-mark"></use>
              </svg>
            </td>
            <td>30 days</td>
            <td>
              <button class="price__btn" type="button">send request</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
