<section class="benefits">
  <div class="container">
    <h2 class="benefits__title section-title">Our benefits</h2>
    <p class="benefits__text">
      Our mission is to set the highest standards for construction sphere.
    </p>
    <ul class="benefits__list list">
      <li class="benefits__item">
        <svg class="benefits__icon">
          <use href="./img/icons.svg#icon-contract"></use>
        </svg>
        <h3 class="benefits__item-title">Fixed Terms & Cost</h3>
        <p class="benefits__item-text">
          Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit
          nostrud aliquip sunt.
        </p>
      </li>
      <li class="benefits__decor"></li>
      <li class="benefits__item">
        <svg class="benefits__icon">
          <use href="./img/icons.svg#icon-helmet"></use>
        </svg>
        <h3 class="benefits__item-title">Qualified Workers</h3>
        <p class="benefits__item-text">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum
          adipisicing. Minim empor est ea.
        </p>
      </li>
      <li class="benefits__decor"></li>
      <li class="benefits__item">
        <svg class="benefits__icon">
          <use href="./img/icons.svg#icon-camera"></use>
        </svg>
        <h3 class="benefits__item-title">Supervision & Control</h3>
        <p class="benefits__item-text">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit
          voluptate ullamco proident ea ad.
        </p>
      </li>
    </ul>
    <a class="benefits__btn" href="./contacts.html#discuss-a-project"
      >Discuss a project</a
    >
  </div>
</section>
