<section class="steps">
  <div class="container">
    <h2 class="section-title">That’s how we do it</h2>
    <ul class="steps-list list">
      <li class="steps-item">
        <p class="steps-num">01</p>
        <h4 class="steps-item-title">Work Estimate</h4>
        <p class="steps-txt">
          Culpa nostrud commodo ea consequat aliquip reprehenderit.
        </p>
        <hr />
      </li>
      <li class="steps-item">
        <p class="steps-num">02</p>
        <h4 class="steps-item-title">Contract</h4>
        <p class="steps-txt">
          Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit
          imperdiet auctor et tempor.
        </p>
        <hr />
      </li>
      <li class="steps-item">
        <p class="steps-num">03</p>
        <h4 class="steps-item-title">Mobilization</h4>
        <p class="steps-txt">
          Odio massa scelerisque purus arcu sed velit eleifend cursus leo.
        </p>
        <hr />
      </li>
      <li class="steps-item">
        <p class="steps-num">04</p>
        <h4 class="steps-item-title">Construction Work</h4>
        <p class="steps-txt">
          Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore
          et ad et veniam ad deserunt.
        </p>
      </li>
    </ul>
  </div>
</section>
