<section class="pricing">
  <div class="container">
    <h2 class="section-title">Pricing</h2>
    <p class="pricing-text">We offer you three categories of construction.</p>
    <table class="pricing-table">
      <thead>
        <tr>
          <th>Items</th>
          <th>Installation plan</th>
          <th>Planning solutions (2-3 options)</th>
          <th>Lighting plan</th>
          <th>Flooring plan</th>
          <th>Heating floor laying scheme</th>
          <th>Air conditioner zones layout</th>
          <th>3D visualization of all rooms</th>
          <th>Visualization of each room (3-4 angles)</th>
          <th>Terms</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>basic</p>
            $20 per m2
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>simplified</td>
          <td></td>
          <td>10 days</td>
          <td>
            <button class="price-btn" type="button">send request</button>
          </td>
        </tr>
        <tr>
          <td>
            <p>standart</p>
            $30 per m2
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td></td>
          <td>20 days</td>
          <td>
            <button class="price-btn" type="button">send request</button>
          </td>
        </tr>
        <tr>
          <td>
            <p>business</p>
            $40 per m2
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mark"></use>
            </svg>
          </td>
          <td>30 days</td>
          <td>
            <button class="price-btn" type="button">send request</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
