<section class="projects">
  <div class="container">
    <div class="projects__title-container">
      <h2 class="section-title">Related projects</h2>
      <div class="projects-controls">
        <button class="projects-controls-btn" id="p-left-btn" type="button">
          <svg>
            <use href="./img/icons.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button class="projects-controls-btn" id="p-right-btn" type="button">
          <svg>
            <use href="./img/icons.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="p-list-wrap">
      <ul class="list" id="p-list"></ul>
    </div>
    <div class="projects-view">
      <h3 class="view-more-title">Explore all our works</h3>
      <a href="./work.html" class="portfolio-link view-more-link orange-btn"
        >View portfolio</a
      >
    </div>
  </div>
</section>
