<section class="steps">
  <div class="container">
    <h2 class="steps__title section-title">That’s how we do it</h2>
    <ul class="steps__list list">
      <li class="steps__item">
        <div>
          <p class="steps__num">01</p>
          <hr />
        </div>
        <h4 class="steps__item-title">Work Estimate</h4>
        <p class="steps__item-txt">
          Culpa nostrud commodo ea consequat aliquip reprehenderit.
        </p>
      </li>
      <li class="steps__item">
        <div>
          <p class="steps__num">02</p>
          <hr />
        </div>
        <h4 class="steps__item-title">Contract</h4>
        <p class="steps__item-txt">
          Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit
          imperdiet auctor et tempor.
        </p>
      </li>
      <li class="steps__item">
        <div>
          <p class="steps__num">03</p>
          <hr />
        </div>
        <h4 class="steps__item-title">Mobilization</h4>
        <p class="steps__item-txt">
          Odio massa scelerisque purus arcu sed velit eleifend cursus leo.
        </p>
      </li>
      <li class="steps__item">
        <div>
          <p class="steps__num">04</p>
          <hr />
        </div>
        <h4 class="steps__item-title">Construction Work</h4>
        <p class="steps__item-txt">
          Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore
          et ad et veniam ad deserunt.
        </p>
      </li>
    </ul>
  </div>
</section>
