<section class="find">
  <div class="container">
    <h2 class="find__title section-title">Find us at</h2>
    <ul class="find__list list">
      <li class="find__item">
        <a class="find__link" href="">
          <svg class="find__icon">
            <use href="./img/icons.svg#icon-whatsapp"></use>
          </svg>
        </a>
      </li>
      <li class="find__item">
        <a class="find__link" href="">
          <svg class="find__icon">
            <use href="./img/icons.svg#icon-messanger"></use>
          </svg>
        </a>
      </li>
      <li class="find__item">
        <a class="find__link" href="">
          <svg class="find__icon">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="find__item">
        <a class="find__link" href="">
          <svg class="find__icon">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="find__item">
        <a class="find__link" href="">
          <svg class="find__icon">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
