<section class="find-us">
  <div class="container">
    <h2 class="section-title">Find us at</h2>
    <ul class="find-us-list list">
      <li class="find-us-item">
        <a class="find-us-link" href="">
          <svg class="find-us-icon">
            <use href="./img/icons.svg#icon-whatsapp"></use>
          </svg>
        </a>
      </li>
      <li class="find-us-item">
        <a class="find-us-link" href="">
          <svg class="find-us-icon">
            <use href="./img/icons.svg#icon-messanger"></use>
          </svg>
        </a>
      </li>
      <li class="find-us-item">
        <a class="find-us-link" href="">
          <svg class="find-us-icon">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="find-us-item">
        <a class="find-us-link" href="">
          <svg class="find-us-icon">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="find-us-item">
        <a class="find-us-link" href="">
          <svg class="find-us-icon">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
