<section class="benefits">
  <div class="container">
    <h2 class="benefits__title section-title">Employee benefits</h2>
    <p class="benefits__text">There’s always room for talent.</p>
    <ul class="benefits__list list">
      <li class="benefits__item">
        <svg class="benefits__icon">
          <use href="./img/icons.svg#icon-brain"></use>
        </svg>
        <h5 class="benefits__item-title card-title">Training</h5>
        <p class="benefits__item-text">
          Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit
          nostrud aliquip sunt.
        </p>
      </li>
      <li class="benefits__devider"></li>
      <li class="benefits__item">
        <svg class="benefits__icon">
          <use href="./img/icons.svg#icon-stairs"></use>
        </svg>
        <h5 class="benefits__item-title card-title">Professional Growth</h5>
        <p class="benefits__item-text">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum
          adipisicing. Minim empor est ea.
        </p>
      </li>
      <li class="benefits__devider"></li>
      <li class="benefits__item">
        <svg class="benefits__icon">
          <use href="./img/icons.svg#icon-money"></use>
        </svg>
        <h5 class="benefits__item-title card-title">Growing Salary</h5>
        <p class="benefits__item-text">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit
          voluptate ullamco proident ea ad.
        </p>
      </li>
    </ul>
  </div>
</section>
