<section class="positions">
  <div class="positions__container container">
    <ul class="positions__list list">
      <li class="positions__item">
        <div class="positions__item-wrapper">
          <ul class="positions__info-list">
            <li class="positions__info-item">
              <svg class="positions__info-icon">
                <use href="./img/icons.svg#icon-gps"></use>
              </svg>
              <p>New York</p>
            </li>
            <li class="positions__info-item">
              <svg class="positions__info-icon">
                <use href="./img/icons.svg#icon-clock"></use>
              </svg>
              <p>Full Time</p>
            </li>
          </ul>
          <h5 class="positions__title">Heavy Equipment Operator</h5>
        </div>
        <button class="positions__btn" type="button">Apply now</button>
      </li>
      <li class="positions__item">
        <div class="positions__item-wrapper">
          <ul class="positions__info-list">
            <li class="positions__info-item">
              <svg class="positions__info-icon">
                <use href="./img/icons.svg#icon-gps"></use>
              </svg>
              <p>San Francisco</p>
            </li>
            <li class="positions__info-item">
              <svg class="positions__info-icon">
                <use href="./img/icons.svg#icon-clock"></use>
              </svg>
              <p>Full Time</p>
            </li>
          </ul>
          <h5 class="positions__title">Financial Compliance Analyst</h5>
        </div>
        <button class="positions__btn" type="button">Apply now</button>
      </li>
      <li class="positions__item">
        <div class="positions__item-wrapper">
          <ul class="positions__info-list">
            <li class="positions__info-item">
              <svg class="positions__info-icon">
                <use href="./img/icons.svg#icon-gps"></use>
              </svg>
              <p>New Jersey</p>
            </li>
            <li class="positions__info-item">
              <svg class="positions__info-icon">
                <use href="./img/icons.svg#icon-clock"></use>
              </svg>
              <p>Full Time</p>
            </li>
          </ul>
          <h5 class="positions__title">Project Manager - Buildings</h5>
        </div>
        <button class="positions__btn" type="button">Apply now</button>
      </li>
      <li class="positions__item">
        <div class="positions__item-wrapper">
          <ul class="positions__info-list">
            <li class="positions__info-item">
              <svg class="positions__info-icon">
                <use href="./img/icons.svg#icon-gps"></use>
              </svg>
              <p>New York</p>
            </li>
            <li class="positions__info-item">
              <svg class="positions__info-icon">
                <use href="./img/icons.svg#icon-clock"></use>
              </svg>
              <p>Part Time</p>
            </li>
          </ul>
          <h5 class="positions__title">Environment Specialist</h5>
        </div>
        <button class="positions__btn" type="button">Apply now</button>
      </li>
      <li class="positions__item">
        <div class="positions__item-wrapper">
          <ul class="positions__info-list">
            <li class="positions__info-item">
              <svg class="positions__info-icon">
                <use href="./img/icons.svg#icon-gps"></use>
              </svg>
              <p>New York</p>
            </li>
            <li class="positions__info-item">
              <svg class="positions__info-icon">
                <use href="./img/icons.svg#icon-clock"></use>
              </svg>
              <p>Full Time</p>
            </li>
          </ul>
          <h5 class="positions__title">Accountant</h5>
        </div>
        <button class="positions__btn" type="button">Apply now</button>
      </li>
    </ul>
    <div class="positions__form">
      <p class="positions__form-title">
        Didn’t find what you were looking for?
      </p>
      <p class="positions__form-text">
        Send your CV or subscribe to our newsletter to receive information about
        new vacancies.
      </p>
      <div class="positions__form-btn-box">
        <button class="positions__form-btn" id="sub-btn">subscribe</button>
        <button class="positions__form-btn" id="cv-btn">send cv</button>
      </div>
    </div>
  </div>
</section>
