.hero::after {
  background-image: url('../../img/news-page-img/news-hero-bg.jpg');
  background-size: contain cover;
  background-position: right;
}

@media screen and (max-width: 768px) {
  .hero::after {
    background-position: center;
  }
}
