<div class="container">
  <h2 class="section-title section-title-margin">Our core values</h2>
  <p class="section-text">
    Our mission is to set the highest standards for construction sphere.
  </p>
  <ul class="our-core-list list">
    <li class="our-core-card">
      <svg class="our-core-icons">
        <use href="./img/icons.svg#icon-like"></use>
      </svg>
      <h5 class="our-core-card-title card-title">Quality</h5>
      <p class="our-core-card-text">
        Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit
        nostrud aliquip sunt.
      </p>
    </li>
    <li class="our-core-decor-item"></li>
    <li class="our-core-card">
      <svg class="our-core-icons">
        <use href="./img/icons.svg#icon-hand"></use>
      </svg>
      <h5 class="our-core-card-title card-title">Safety</h5>
      <p class="our-core-card-text">
        Anim reprehenderit sint voluptate exercitation adipisicing laborum
        adipisicing. Minim empor est ea.
      </p>
    </li>
    <li class="our-core-decor-item"></li>
    <li class="our-core-card">
      <svg class="our-core-icons">
        <use href="./img/icons.svg#icon-slippers"></use>
      </svg>
      <h5 class="our-core-card-title card-title">Comfort</h5>
      <p class="our-core-card-text">
        Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit
        voluptate ullamco proident ea ad.
      </p>
    </li>
  </ul>
</div>
