<header id="header">
  <nav class="header-nav">
    <a href="index.html">
      <svg class="logo">
        <use href="../img/icons.svg#icon-logo-black"></use>
      </svg>
    </a>
    <ul class="header-nav-list list">
      <li>
        <a href="./about.html" class="header-nav-links" id="nav-about"
          >About Us</a
        >
      </li>
      <li>
        <a href="./services.html" class="header-nav-links">Services</a>
      </li>
      <li><a href="./work.html" class="header-nav-links">Work</a></li>
      <li><a href="./news.html" class="header-nav-links">News</a></li>
      <li>
        <a href="./contacts.html" class="header-nav-links">Contacts</a>
      </li>
    </ul>
    <button class="open-menu-btn" type="button">
      <svg class="menu-icon">
        <use href="./../img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </nav>
  <aside class="mobile-menu">
    <button class="close-menu-btn">
      <svg class="close-menu-icon">
        <use href="./../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="header-menu-list list">
      <li>
        <a href="./about.html" class="header-nav-links" id="nav-about-menu"
          >About Us</a
        >
      </li>
      <li>
        <a href="./services.html" class="header-nav-links">Services</a>
      </li>
      <li><a href="./work.html" class="header-nav-links">Work</a></li>
      <li><a href="./news.html" class="header-nav-links">News</a></li>
      <li>
        <a href="./contacts.html" class="header-nav-links">Contacts</a>
      </li>
    </ul>
  </aside>
</header>
