<ul class="partners-list list">
  <li class="partners-item">
    <a class="partners-link" href="">
      <img
        class="partners-img"
        src="./img/partners-img/partner-logo-1.png"
        alt=""
      />
    </a>
  </li>
  <li class="partners-item">
    <a class="partners-link" href="">
      <img
        class="partners-img"
        src="./img/partners-img/partner-logo-2.png"
        alt=""
      />
    </a>
  </li>
  <li class="partners-item">
    <a class="partners-link" href="">
      <img
        class="partners-img"
        src="./img/partners-img/partner-logo-3.png"
        alt=""
      />
    </a>
  </li>
  <li class="partners-item">
    <a class="partners-link" href="">
      <img
        class="partners-img"
        src="./img/partners-img/partner-logo-4.png"
        alt=""
      />
    </a>
  </li>
  <li class="partners-item">
    <a class="partners-link" href="">
      <img
        class="partners-img"
        src="./img/partners-img/partner-logo-5.png"
        alt=""
      />
    </a>
  </li>
  <li class="partners-item">
    <a class="partners-link" href="">
      <img
        class="partners-img"
        src="./img/partners-img/partner-logo-6.png"
        alt=""
      />
    </a>
  </li>
</ul>
