<section class="projects">
  <div class="projects__container container">
    <div class="projects__title-container">
      <h2 class="projects__title section-title" id="p__title"></h2>
      <div class="projects__slider">
        <button
          class="projects__btn-left projects__btn"
          type="button"
          id="p-left-btn"
        >
          <svg class="projects__icon-left projects__icon">
            <use href="./img/icons.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button
          class="projects__btn-right projects__btn"
          type="button"
          id="p-right-btn"
        >
          <svg class="projects__icon-right projects__icon">
            <use href="./img/icons.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="projects__list-wrapper">
      <ul class="projects__list list" id="p-list"></ul>
    </div>
    <div class="projects__view">
      <h3 class="projects__view-title view-more-title">
        Explore all our works
      </h3>
      <a
        href="./work.html"
        class="projects__view-link view-more-link orange-btn"
        >View portfolio</a
      >
    </div>
  </div>
</section>
