/* HEADER */
header {
    padding: 20px 0;
    background-color: transparent;
}

.header-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: grid;
    place-items: center;
    width: 130px;
    height: 22px;
    margin-right: 60px;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-links {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--primary-color);
    padding: 30px 0;
    transition: color 0.2s linear;
}

.header-nav-links:hover,
.header-nav-links:focus {
    color: var(--red-color);
}

.menu-btn{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}

.menu-icon{
    width: 40px;
    height: 40px;
    color: black;
}

@media screen and (max-width: 768px) {
}