.partners {
  display: flex;
  justify-content: center;
  padding: 80px 0 90px;
  background-color: var(--cloud);
}

.partners-list {
  display: flex;
  justify-content: center;
  gap: 102px;
}

@media screen and (max-width: 1440px) {
  .partners {
    padding: 80px 100px 90px;
  }

  .partners-list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1024px) {
  .partners {
    padding: 80px 80px 90px;
  }
}

@media screen and (max-width: 768px) {
  .partners {
    padding: 80px 30px 90px;
  }

  .partners-list {
    gap: 40px 60px;
  }
}

@media screen and (max-width: 375px) {
  .partners {
    padding: 80px 20px 90px;
  }

  .partners-list {
    gap: 40px;
  }
}

.partners-logo {
  transition: filter 0.3s ease, transform 0.3s ease;
}

.partners-link:hover .partners-logo {
  filter: invert();
}

.partners-link:hover .partners-logo {
  transform: scale(0.95);
}
.partners-link:hover .partner-logo-6 {
}
