
@import url(./header.css);
@import url(./form.css);
@import url(./footer.css);

/* HERO */
.hero {
    padding: 60px 0;
    height: 508px;
}

.bg-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
    z-index: -1;

    background-color: #F4F5F6;
    background-image: url("../img/positions-page-img/positions-hero-bg.png");
    background-repeat: no-repeat;
    background-size: 1014px 506px;
    background-position: right bottom;
}

.page-path {
    font-size: 14px;
    line-height: 1.5;
    color: var(--light-gray);
}

.page-path-dark {
    color: var(--primary-color);
}

.hero-text {
    max-width: 600px;
    font-size: 20px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.page-title {
    max-width: 577px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: var(--title-color);
    text-transform: uppercase;
    margin: 40px 0 24px;
}

/* HERO */

/* POSITIONS */
.positions{
    padding: 120px 0 90px;
}

.positions .container{
    display: flex;
    justify-content: space-between;
}

.positions-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 705px;
    padding: 32px 40px;
    border-radius: 4px;
    border: 1px solid #E5E8ED;
    background: #fff;
    transition: box-shadow .25s ease-in-out .1s;
}

.positions-item:not(:last-child){
    margin-bottom: 24px;
}

.positions-item:hover,
.positions-item:focus{
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.positions-title{
    color: var(--title-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    margin-top: 8px;
}

.positions-info{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.positions-form{
    max-width: 390px;
}

.positions-form-title{
    color: var(--title-color);
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 24px;
}

.positions-form-text{
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.positions-form-btn-box{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.positions-btn{
    display: grid;
    place-items: center;
    border-radius: 4px;
    border: 1px solid var(--red-color);
    color: var(--red-color);
    background-color: transparent;
    outline: none;
    width: 151px;
    height: 44px;

    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 3.14;
    letter-spacing: 0.036em;
    text-transform: uppercase;
    transition: background-color .25s ease-in-out .1s,
    color .25s ease-in-out .1s;
}

.positions-btn:hover,
.positions-btn:focus{
    background-color: var(--red-color);
    color: #fff;
}

.positions-form-btn{
    width: 180px;
    height: 52px;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--red-color);

    color: var(--red-color);
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 3.25;
    letter-spacing: 0.031;
    text-transform: uppercase;

    transition: background-color .25s ease-in-out .1s,
    color .25s ease-in-out .1s;
}


.positions-form-btn:hover,
.positions-form-btn:focus{
    background-color: var(--red-color);
    color: #fff;
}

.positions-info-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
}

/* BENEFITS */

.benefits{
    padding: 90px 0 180px;
    text-align: center;
}

.benefits .section-title{
    margin-bottom: 24px;
}

ul.benefits-list{
    display: flex;
    align-items: center;
    gap: 94px;
    margin-top: 60px;
}

.benefits-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-icon{
    height: 48px;
    width: 48px;
}

.benefits-item .card-title{
    margin: 24px 0 8px;
}

.benefits-text{
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 160%;
}

.benefits-devider{
    min-height: 188px;
    border-left: 0.12em solid rgba(218, 219, 221, 0.50);
    border-radius: 100%;
}

/* BENEFITS */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(30, 33, 44, 0.75);
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
}

.backdrop:has(.modal.active), .modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal{         
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 486px;
    padding: 48px;

    background-color: #fff;
    border: 1px solid #e5e8ed;
    border-radius: 4px;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 60px 80px -20px rgba(30, 33, 44, 0.16);
    
    pointer-events: none;
    opacity: 0;
}

.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
}

.modal-close-btn svg{
    width: 24px;
    height: 24px;
}

.modal-title{
    color: var(--title-color);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 24px;
}

.sub-modal form{
    display: flex;
    flex-direction: column;
}

.modal label{
    display: grid;
    gap: 8px;

    color: var(--primary-color);
    font-size: 14px;
    line-height: 1.5;
}

.modal input{
    width: 100%;
    height: 44px;
    padding: 11px 16px;

    border: 1px solid rgb(215, 218, 221);
    border-radius: 4px;
    background-color: var(--cloud);

    color: var(--primary-color);
    font-size: 14px;
    line-height: 1.5;
    outline: none;
}

.sub-modal label:first-child{
    margin-bottom: 20px;
}

.modal-btn{
    width: 100%;
    height: 44px;
    background-color: var(--red-color);
    border: none;
    border-radius: 4px;
    margin-top: 40px;

    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
}

.cv-modal{
    max-height: 100vh;
    overflow: auto;
}

.cv-modal form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cv-modal textarea{
    width: 100%;
    height: 86px;
    border: 1px solid #d7dadd;
    border-radius: 4px;
    background: var(--cloud);
    resize: none;
    padding: 11px 16px;
    outline: none;
}

label.file-label{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 11px;
    margin-top: 4px;
    cursor: pointer;
}

.file-label svg{
    width: 26px;
    height: 26px;
}

#file-input{
    display: none;
}

.cv-modal .modal-btn{
    margin-top: 20px;
}
/*  */

.location-select-label {
    position: relative;
}

.location-select-label input{
    cursor: pointer;
    outline: none;
}

.location-select-wrapper{
    position: absolute;
    top: 80px;
    overflow: hidden;
    z-index: 999;
    width: 100%;
    height: 0;
}

.location-select-list {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 100%;

    border-radius: 4px;
    border: 1px solid #D7DADD;
    background-color: var(--cloud);

    transform: translateY(-150%);
    transition: transform .8s linear;
}

.location-select-wrapper:has(.location-select-list.active) {
    pointer-events: all;
    height: 314px;
}

.location-option {
    width: 100%;
    height: 52px;
    padding: 13px 16px;
    border-bottom: 1px solid #D7DADD;
    background-color: var(--cloud);
    outline: none;
    color: #424551;
    cursor: pointer;
}

.location-option:last-child {
    border: none;
}