h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

th,
td {
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  pointer-events: none;
}
