@import url(./form.css);
@import url(./footer.css);

/* HEADER */
header {
    padding: 20px 0;
    background-color: transparent;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    display: grid;
    place-items: center;
    width: 130px;
    height: 22px;
    margin-right: 60px;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-links {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--primary-color);
    padding: 30px 0;
    transition: color 0.2s linear;
}

.header-nav-links:hover,
.header-nav-links:focus {
    color: var(--red-color);
}

.header-contacts {
    padding: 2px 0;
}

.header-addres-list {
    display: flex;
    gap: 36px;
}

.header-address-card {
    display: flex;
}

.header-address-card-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--primary-color);
    font-style: normal;
}

.header-address-card-link {
    font-size: 18px;
    line-height: 1.5;
    color: var(--title-color);
    font-style: normal;
}

.header-address-icon {
    margin-right: 12px;
    width: 40px;
    height: 40px;
}

/* HEADER */

/* HERO */
.hero {
    padding: 60px 0;
    height: 508px;
}

.bg-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
    z-index: -1;

    background-image: url("../img/services-page-img/services-hero-bg.png"),
    linear-gradient(to bottom, #F4F5F6, #F4F5F6);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.page-path {
    font-size: 14px;
    line-height: 1.5;
    color: var(--light-gray);
}

.page-path-dark {
    color: var(--primary-color);
}

.hero-text {
    max-width: 600px;
    font-size: 20px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.page-title {
    max-width: 577px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: var(--title-color);
    text-transform: uppercase;
    margin: 40px 0 24px;
}

/* HERO */

/* SERVICES */

.services-info{
    padding: 120px 0 180px;
    background-image: url("../img/services-page-img/services-bg-1.png"), url("../img/services-page-img/services-bg-2.png");
    background-repeat: no-repeat;
    background-position: right 531px, left bottom -250px;
}

.services-info-list{
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.services-info-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.services-info-card:nth-child(2n){
    flex-direction: row-reverse;
}

.services-info-title{
    color: var(--title-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 24px;
}

.services-info-text{
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.services-info-link{
    display: grid;
    place-items: center;
    width: 160px;
    height: 44px;
    border: 1px solid var(--red-color);
    border-radius: 4px;
    margin-top: 48px;

    color: var(--primary, #FF5A30);
    font-size: 14px;
    font-weight: 700;
    line-height: 314.3%;
    letter-spacing: 0.036em;
    text-transform: uppercase;

    transition: background-color .25s ease-in-out 0.1s,
    color .25s ease-in-out 0.1s;
}

.services-info-link:hover,
.services-info-link:focus{
    background-color: var(--red-color);
    color: #fff;
}
/* SERVICES */