@import url(./form.css);
@import url(./footer.css);

/* HEADER */
header {
    padding: 20px 0;
    background-color: transparent;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    display: grid;
    place-items: center;
    width: 130px;
    height: 22px;
    margin-right: 60px;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-links {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--primary-color);
    padding: 30px 0;
    transition: color 0.2s linear;
}

.header-nav-links:hover,
.header-nav-links:focus {
    color: var(--red-color);
}

.header-contacts {
    padding: 2px 0;
}

.header-addres-list {
    display: flex;
    gap: 36px;
}

.header-address-card {
    display: flex;
}

.header-address-card-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--primary-color);
    font-style: normal;
}

.header-address-card-link {
    font-size: 18px;
    line-height: 1.5;
    color: var(--title-color);
    font-style: normal;
}

.header-address-icon {
    margin-right: 12px;
    width: 40px;
    height: 40px;
}

/* HEADER */

/* HERO */
.hero {
    padding: 60px 0;
    height: 508px;
}

.bg-container {
    position: absolute;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1920px;
    height: 600px;
    z-index: -1;
    background-image: url("../img/services-page-img/services-hero-bg-2.png"),
        linear-gradient(to bottom, #F4F5F6, #F4F5F6);
    background-repeat: no-repeat;
    background-size: 1100px , contain;
    background-position: 980px -176px, right;
}

.page-path {
    font-size: 14px;
    line-height: 1.5;
    color: var(--light-gray);
}

.page-path-dark {
    color: var(--primary-color);
}

.hero-text {
    max-width: 600px;
    font-size: 20px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.page-title {
    max-width: 577px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: var(--title-color);
    text-transform: uppercase;
    margin: 40px 0 24px;
}

/* HERO */

/* OFFER */
.offer{
    padding: 120px 0 90px;
}

.offer .container{
    position: relative;
    display: flex;
    gap: 105px;
}

.offer .section-title{
    text-align: left;
}

.offer-img{
    height: 440px;
}

.offer-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 420px;
}

.offer svg{
    width: 24px;
    height: 24px;
    pointer-events: none;
    fill: var(--red-color);
}

.offer-list-title{
    display: flex;
    gap: 20px;
    align-items: center;
    color: var(--title-color);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0;
    margin-bottom: 12px;
    pointer-events: none;
}

.offer-list-about{
    overflow: hidden;
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0;
    padding: 0 0 0 44px;
    max-height: 0;
    height: 100%;
    transition: max-height 0.5s ease-in-out;
    pointer-events: none;
}

li.visible .offer-list-about{
    max-height: 500px;
}

/* how we do */

.how-do{
    padding: 90px 0 120px;
}

.how-do-list{
    display: flex;
    gap: 30px;
}

.how-do-item{
    position: relative;
    width: calc((100% - 90px) / 4);
    padding-top: 76px;
}

.how-do-num{
    position: absolute;
    left: -15px;
    top: -12px;
    display: grid;
    place-items: center;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background-color: transparent;
    outline: 16px solid transparent;

    color: #d7dadd;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    transition: color .2s .1s, backgraund-color .5s .1s, outline-color .3s ;
    transition-timing-function: linear;
}

.how-do-item-title{
    color: var(--title-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0;
}

.how-do-txt{
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0;
}

.how-do-item hr{
    position: absolute;
    right: 0;
    top: 30px;
    width: 209px;
    border: 1px dashed rgb(215, 218, 221);
    margin: 0;
}

.how-do-item:hover .how-do-num,
.how-do-item:focus .how-do-num{
    background-color: rgb(255, 90, 48, 0.12);
    outline-color: rgb(255, 90, 48, 0.06);
    color: #ff5930;
}

/* benefits */

.benefits{
    position: relative;
    padding: 80px 0 126px;
    background-color: var(--title-color);
    color: #fff;
    text-align: center;
}

.benefits .section-title{
    margin-bottom: 24px;
    color: #fff;
}

.benefits-text{
    font-size: 18px;
    line-height: 1.5;
    opacity: 0.6;
    margin-bottom: 60px;
}

.benefits-list{
    display: flex;
    gap: 94px;
}

.benefits-list li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-decor{
    width: 0px;
    min-height: 100%;
    border-left: 1px solid;
    border-radius: 500px;
    opacity: 0.1;
}

.benefits-icon{
    width: 48px;
    height: 48px;
    fill: var(--red-color);
}

.benefits-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin: 24px 0 8px;
}

.benefits-list-text{
    line-height: 1.6;
    opacity: 0.6;
}

.benefits-btn{
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    width: 390px;
    height: 52px;
    border: none;
    background-color: var(--red-color);

    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
}