.decisions {
  padding: 80px 0 114px;
  background-color: var(--cloud);
}

.decisions__container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.decisions__img {
  max-width: 450px;
  border-radius: 6px;
}

.decisions__wrapper {
  width: 100%;
  max-width: 600px;
}

.decisions__title {
  text-align: left;
}

.decisions__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.decisions__item {
  display: flex;
  align-items: center;
  gap: 16px;

  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.63;
}

.decisions__icon {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
}

@media screen and (max-width: 1024px) {
  .decisions {
    padding: 80px 0;
  }

  .decisions__container {
    align-items: center;
    flex-direction: column;
  }

  .decisions__img {
    margin-right: -150px;
  }
}

@media screen and (max-width: 768px) {
  .decisions {
    padding: 60px 0;
  }

  .decisions__img {
    margin-right: 0;
    align-self: end;
  }

  .decisions__list {
    width: 100%;
  }
}
