.hero {
  position: relative;
  padding: 60px 0 120px;
}

.hero::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 600px;
  max-width: 1920px;
  z-index: -1;
  background-image: url('../../img/project-img/project-hero-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  position: absolute;
}

.project__title {
  margin: 40px 0 60px;
  max-width: 800px;
  line-height: 1.2;
}

.project__title_loader {
  position: relative;
  height: 90px;
  border-radius: 15px;
  background-color: #ddd;
  opacity: 0.3;
}

.project__gallery-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 123/70;
  background-color: #ddd;
  border-radius: 15px;
  overflow: hidden;
}

.project__gallery {
  display: flex;
  width: 100%;
  height: 100%;
  transform: translateX(0);
}

.project__gallery img {
  width: calc(100vw - 200px);
  height: 100%;
  max-width: 1230px;
}

.project__gallery-small {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.project__gallery-small-item {
  width: 100%;
  max-height: 120px;
  max-width: 120px;
  aspect-ratio: 1/1;
  border-radius: 4px;
  background-color: #ddd;
  opacity: 0.3;
}

.project__gallery-small-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: none;
  background-color: #ddd;
  overflow: hidden;
}

.project__gallery-small-btn img {
  width: auto;
  height: 100%;
  max-height: 120px;
  pointer-events: none;
}

.project__gallery-small-item.active {
  opacity: 1;
}

.project__gallery-btn {
  position: absolute;
  display: grid;
  place-items: center;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background-color: var(--white);
  opacity: 0.6;
  transition: opacity 0.25s linear;
}

.project__gallery-btn_left {
  left: 32px;
}

.project__gallery-btn_right {
  right: 32px;
}

.project__gallery-btn:hover,
.project__gallery-btn:focus {
  opacity: 1;
}

.project__gallery-icon {
  width: 24px;
  height: 24px;
  fill: #000;
}

.project__info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
  margin-top: 60px;
}

.project__goal-title {
  text-align: left;
  margin-bottom: 40px;
}

.project__goal-text {
  max-width: 600px;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 1.5;
}

.project__info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 32px;
  max-width: 500px;
  border-radius: 4px;
  background-color: var(--white);
  padding: 40px 60px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.project__info-list li {
  width: 100px;
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 700;
}

.project__info-list li:nth-child(2n) {
  width: 100%;
  max-width: 248px;
  text-transform: none;
  color: var(--secondary-color);
}

@media screen and (max-width: 1024px) {
  .hero {
    padding: 60px 0 100px;
  }

  .project__title {
    margin: 30px 0;
  }

  .project__title_loader {
    height: 72px;
  }

  .project__gallery img {
    width: calc(100vw - 140px);
  }

  .project__info {
    flex-direction: column;
    align-items: start;
    margin-top: 60px;
  }

  .project__info-list {
    align-self: flex-end;
  }

  .project__gallery-small-item {
    width: calc((100% - 100px) / 6);
  }

  .project__goal-title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 60px 0;
  }

  .project__title_loader {
    height: 50px;
  }

  .project__gallery img {
    width: calc(100vw - 60px);
  }

  .project__gallery-small {
    gap: 10px;
    margin-top: 16px;
  }

  .project__gallery-small-item {
    width: calc((100% - 50px) / 6);
  }

  .project__goal-title {
    margin-bottom: 16px;
  }

  .project__gallery-btn {
    width: 36px;
    height: 36px;
  }

  .project__gallery-btn_left {
    left: 16px;
  }

  .project__gallery-btn_right {
    right: 16px;
  }

  .project__gallery-icon {
    width: 20px;
    height: 20px;
  }

  .project__info {
    margin-top: 40px;
  }

  .project__info-list {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 425px) {
  .project__title_loader {
    height: 43px;
  }

  .project__gallery-btn {
    width: 30px;
    height: 30px;
  }

  .project__gallery-btn_left {
    left: 6px;
  }

  .project__gallery-btn_right {
    right: 6px;
  }

  .project__gallery-icon {
    width: 16px;
    height: 16px;
  }

  .project__gallery-small {
    gap: 8px;
  }

  .project__gallery-small-item {
    width: calc((100% - 40px) / 6);
  }

  .project__info {
    margin-top: 30px;
    gap: 20px;
  }
}

@media screen and (max-width: 375px) {
  .project__title_loader {
    height: 38px;
  }

  .project__gallery img {
    width: calc(100vw - 40px);
  }
}
