.hero {
  padding: 60px 0 120px;
}

.bg-container {
  background-image: url('../../img/project-img/project-hero-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 600px;
  top: 0;
  right: 0;
  z-index: -1;
}

.project-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  color: var(--title-color);
  text-transform: uppercase;
  margin: 40px 0 60px;
  max-width: 700px;
}

.project-img-list-wrapper {
  position: relative;
  width: 100%;
  height: 600px;
  border-radius: 15px;
  overflow: hidden;
}

.project-img-list {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  transform: translateX(0);
}

.project-img-list li {
  min-width: 1230px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-img {
  width: 390px;
  height: 345px;
}

ul.project-small-img-list {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.project-small-img-item {
  width: 120px;
  height: 120px;
  background-color: #ddd;
  border-radius: 4px;
  opacity: 0.3;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-small-img-item.active {
  opacity: 1;
}

.slider-left-btn,
.slider-right-btn {
  position: absolute;
  display: grid;
  place-items: center;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  opacity: 0.6;
  transition: opacity 0.25s linear;
}

.slider-left-btn {
  left: 32px;
}

.slider-right-btn {
  right: 32px;
}

.slider-left-btn:hover,
.slider-left-btn:focus,
.slider-right-btn:hover,
.slider-right-btn:focus {
  opacity: 1;
}

.slider-left-icon,
.slider-right-icon {
  width: 24px;
  height: 24px;
  fill: #000;
}

.project-info-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 100px;
}

.project-goal .section-title {
  text-align: left;
  margin-bottom: 40px;
}

.project-goal-text {
  max-width: 600px;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 1.5;
}

ul.project-info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 32px;
  width: 500px;
  border-radius: 4px;
  background-color: #fff;
  padding: 40px 60px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.project-info-list li {
  width: 100px;
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 700;
}

.project-info-list li:nth-child(2n) {
  width: 248px;
  text-transform: none;
  color: var(--secondary-color);
}
