.projects {
  padding: 180px 0 120px;
}

@media screen and (max-width: 1024px) {
  .projects {
    padding: 140px 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    padding: 100px 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    padding: 80px 0 60px;
  }
}
