<section class="company-video">
  <div class="container">
    <h2 class="section-title">We are Createx Construction Bureau</h2>
    <p class="section-text">
      We are rightfully considered to be the best construction company in the
      USA.
    </p>
    <div class="company-video-wrap">
      <svg class="icon-play-video">
        <use href="../../img/icons.svg#icon-play-video"></use>
      </svg>
      <span class="icon-volum-off-box">
        <svg class="icon-volum-off">
          <use
            href="../../img/icons.svg#icon-volum-off"
            class="icon-volum-off-m"
          ></use>
        </svg>
      </span>
    </div>
  </div>
</section>
