<section class="projects">
  <div class="container">
    <h2 class="projects-title section-title">
      Browse our selected projects and learn more about our work
    </h2>
    <div class="project-slider">
      <button class="p-left-btn" type="button" id="p-left-btn">
        <svg class="p-left-arrow p-arrow">
          <use href="../img/icons.svg#icon-left-arrow"></use>
        </svg>
      </button>
      <button class="p-right-btn" type="button" id="p-right-btn">
        <svg class="p-right-arrow p-arrow">
          <use href="../img/icons.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
    <div class="p-list-wrap">
      <ul class="list" id="p-list"></ul>
    </div>
    <div class="projects-view">
      <h3 class="view-more-title">Explore all our works</h3>
      <a href="./work.html" class="portfolio-link view-more-link orange-btn"
        >View portfolio</a
      >
    </div>
  </div>
</section>
