<section class="hero">
  <div class="container">
    <div class="hero-steps-list-wrapper">
      <ul class="hero-steps-list list">
        <li class="hero-steps-list-item">
          <h1 class="hero-title">
            create<span class="hero-title-part">x</span> construction
          </h1>
          <p class="hero-text">
            Our team brings your dreams to life starting with meticulous design.
            We create unique designs, conduct engineering calculations, and
            develop architectural drawings, taking into account your needs and
            preferences. Obtaining all necessary permits and approvals is our
            expertise.
          </p>
        </li>
        <li class="hero-steps-list-item">
          <h1 class="hero-title">
            Preparation <span class="hero-title-part">Stage</span>
          </h1>
          <p class="hero-text">
            Our specialists carefully prepare the foundation for your future
            home. We undertake comprehensive site preparation, lay utilities
            using cutting-edge technologies, and install temporary structures to
            ensure safety and comfort.
          </p>
        </li>
        <li class="hero-steps-list-item">
          <h1 class="hero-title">
            Construction <span class="hero-title-part">Phase</span>
          </h1>
          <p class="hero-text">
            Construction with our company is the art of turning a project into
            reality. We erect structures using the most reliable materials,
            expertly install load-bearing structures, and our specialists ensure
            the quality installation of all systems.
          </p>
        </li>
        <li class="hero-steps-list-item">
          <h1 class="hero-title">
            <span class="hero-title-part">Project</span> Completion
          </h1>
          <p class="hero-text">
            We pay special attention to details, giving your home individuality.
            Interior and exterior finishing is done using high-quality
            materials, creating a cozy and aesthetic environment. After
            completing all the work, we proudly hand over the keys to your new
            home.
          </p>
        </li>
      </ul>
    </div>
    <button class="hero-left-btn" type="button">
      <svg class="hero-left-icon">
        <use href="../../img/icons.svg#icon-left-arrow"></use>
      </svg>
    </button>
    <button class="hero-right-btn" type="button">
      <svg class="hero-right-icon">
        <use href="../../img/icons.svg#icon-right-arrow"></use>
      </svg>
    </button>
    <div class="hero-buttons">
      <a href="./about.html" class="hero-link">learn more about us</a>
      <a href="#application" class="hero-btn"> submit request </a>
    </div>
    <ul class="hero-pag-list list">
      <li class="hero-pag-list-item active-hero-pag">
        <p>01</p>
        <hr class="hero-pag-item-hr" />
      </li>
      <li class="hero-pag-list-item">
        <p>02</p>
        <hr class="hero-pag-item-hr" />
      </li>
      <li class="hero-pag-list-item">
        <p>03</p>
        <hr class="hero-pag-item-hr" />
      </li>
      <li class="hero-pag-list-item">
        <p>04</p>
        <hr class="hero-pag-item-hr" />
      </li>
    </ul>
  </div>
</section>
