<div class="news">
  <h2 class="section-title">Recent news</h2>
  <div class="news-page">
    <div class="main-news">
      <img src="./img/home-page-img/main-news.jpg" alt="A solar panel" />
      <div class="main-news-content">
        <a href="" class="main-news-card-title card-title">
          How to Build Climate Change-Resilient Infrastructure
        </a>
        <ul class="news-date-list list">
          <li>Industry News</li>
          <li class="news-date-decor-item"></li>
          <li>June 24, 2020</li>
          <li class="news-date-decor-item"></li>
          <li class="news-comments">
            <svg class="news-comment-icon">
              <use href="./img/icons.svg#icon-comments"></use>
            </svg>
            4 comments
          </li>
        </ul>
        <p class="main-news-text">
          Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus.
          Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis
          convallis enim, nibh convallis...
        </p>
      </div>
    </div>
    <ul class="other-news-list list">
      <li class="other-news-card">
        <img
          src="./img/home-page-img/first-other-news.jpg"
          alt="A construction helmet"
        />
        <div class="other-news-content">
          <a href="" class="card-title">How Construction Can Help Itself</a>
          <ul class="news-date-list list">
            <li>Innovation</li>
            <li class="news-date-decor-item"></li>
            <li>June 12, 2020</li>
            <li class="news-date-decor-item"></li>
            <li class="news-comments">
              <svg class="news-comment-icon">
                <use href="./img/icons.svg#icon-comments"></use>
              </svg>
              No comments
            </li>
          </ul>
        </div>
      </li>
      <li class="other-news-card">
        <img
          src="./img/home-page-img/second-other-news.jpg"
          alt="Flooring materials"
        />
        <div class="other-news-content">
          <a href="" class="card-title">Types of Flooring Materials</a>
          <ul class="news-date-list list">
            <li>Company News</li>
            <li class="news-date-decor-item"></li>
            <li>December 1, 2019</li>
            <li class="news-date-decor-item"></li>
            <li class="news-comments">
              <svg class="news-comment-icon">
                <use href="./img/icons.svg#icon-comments"></use>
              </svg>
              No comments
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="news-info">
    <h3 class="view-more-title">Explore all our news posts</h3>
    <a href="./news.html" class="news-link view-more-link orange-btn"
      >view all news</a
    >
  </div>
</div>
