<section class="reviews">
  <div class="container">
    <div class="reviews-info" id="comments"></div>
    <img
      src="../img/home-page-img/reviews.jpg"
      alt="Worker and client"
      class="reviews-img"
    />
    <div class="reviews-slider">
      <button type="button" class="reviews-slider-btn" id="rev-left-btn">
        <svg class="reviews-slider-icons">
          <use href="../img/icons.svg#icon-left-arrow"></use>
        </svg>
      </button>
      <button type="button" class="reviews-slider-btn" id="rev-right-btn">
        <svg class="reviews-slider-icons">
          <use href="../img/icons.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
