<section class="services">
  <div class="container">
    <h2 class="section-title">Our services</h2>
    <p class="section-text">
      Createx Construction Bureau is a construction giant with a full range of
      construction services.
    </p>
    <ul class="services-list list">
      <li class="first-services-card services-card">
        <a href="./service.html?service=0">
          <div class="services-card-info">
            <svg class="services-icons">
              <use href="./img/icons.svg#icon-construction"></use>
            </svg>
            <h5 class="card-title">Construction</h5>
          </div>
        </a>
      </li>
      <li class="second-services-card services-card">
        <a href="./service.html?service=1">
          <div class="services-card-info">
            <svg class="services-icons">
              <use href="./img/icons.svg#icon-plan"></use>
            </svg>
            <h5 class="card-title">Project Development</h5>
          </div>
        </a>
      </li>
      <li class="third-services-card services-card">
        <a href="./service.html?service=2">
          <div class="services-card-info">
            <svg class="services-icons">
              <use href="./img/icons.svg#icon-pantone"></use>
            </svg>
            <h5 class="card-title">Interior Design</h5>
          </div>
        </a>
      </li>
      <li class="fourth-services-card services-card">
        <a href="./service.html?service=3">
          <div class="services-card-info">
            <svg class="services-icons">
              <use href="./img/icons.svg#icon-painting"></use>
            </svg>
            <h5 class="card-title">Repairs</h5>
          </div>
        </a>
      </li>
    </ul>
    <div class="services-info">
      <h3 class="view-more-title">Learn more about our services</h3>
      <a href="./services.html" class="services-link view-more-link"
        >View services</a
      >
    </div>
  </div>
</section>
