<div class="facts">
  <h2 class="section-title">Some facts and figures</h2>
  <ul class="facts-list list">
    <li class="facts-card">
      <div class="circle-progress">
        <svg class="progress-icon">
          <use href="../../img/icons.svg#icon-circle-progress-orange"></use>
        </svg>
        <p class="circle-progress-info">98%</p>
      </div>
      <p class="facts-card-text">Totally satisfied clients</p>
    </li>
    <li class="facts-card">
      <div class="circle-progress">
        <svg class="progress-icon">
          <use href="../../img/icons.svg#icon-circle-progress-pink"></use>
        </svg>
        <p class="circle-progress-info">20</p>
      </div>
      <p class="facts-card-text">Years of experience</p>
    </li>
    <li class="facts-card">
      <div class="circle-progress">
        <svg class="progress-icon">
          <use href="../../img/icons.svg#icon-circle-progress-blue"></use>
        </svg>
        <p class="circle-progress-info">9452</p>
      </div>
      <p class="facts-card-text">Working hours spent</p>
    </li>
    <li class="facts-card">
      <div class="circle-progress">
        <svg class="progress-icon">
          <use href="../../img/icons.svg#icon-circle-progress-green"></use>
        </svg>
        <p class="circle-progress-info">100%</p>
      </div>
      <p class="facts-card-text">Succeeded projects</p>
    </li>
  </ul>
</div>
