<section class="reviews">
  <div class="container">
    <div class="single-review-wrap">
      <h2 class="section-title">What our clients are saying</h2>
      <div class="reviews-info" id="comments">
        <div class="review-owner">
          <div class="review-avatar loader"></div>
          <span>
            <p class="reviews-nickname loader"></p>
            <p class="reviews-position loader"></p>
          </span>
        </div>
        <p class="reviews-text loader"></p>
      </div>
      <div class="reviews-slider">
        <button type="button" class="reviews-slider-btn" id="rev-left-btn">
          <svg class="reviews-slider-icons">
            <use href="./img/icons.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button type="button" class="reviews-slider-btn" id="rev-right-btn">
          <svg class="reviews-slider-icons">
            <use href="./img/icons.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <img
      class="reviews-img"
      src="./img/home-page-img/reviews.jpg"
      alt="Worker and client"
    />
  </div>
</section>
