<div class="question">
  <div class="container">
    <h3 class="question-title view-more-title">
      Want to know more? Ask us a question:
    </h3>
    <form action="" class="question-form">
      <label class="question-label">
        Name
        <input
          type="text"
          placeholder="Your name"
          class="question-input"
          name="user_name"
        />
      </label>
      <label class="question-label">
        Phone
        <input
          type="tel"
          placeholder="Your phone"
          class="question-input"
          name="user_tel"
        />
      </label>
      <label class="question-label">
        Message
        <textarea
          name="user_message"
          id=""
          cols="1"
          rows="1"
          placeholder="Your message"
          class="question-textarea"
        ></textarea>
      </label>
      <button type="submit" class="form-btn orange-btn">Send</button>
    </form>
  </div>
</div>
