.pricing {
  padding: 80px 0 110px;
  background-color: var(--cloud);
  background-image: url('../../img/services-page-img/pricing-bg.png');
  background-position: -440px -245px;
  background-size: contain;
  background-repeat: no-repeat;
}

.pricing__title {
  margin-bottom: 24px;
}

.pricing__text {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.pricing__table {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  margin-top: 60px;

  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  outline: 1px solid rgb(240, 242, 245);
  border-radius: 4px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.pricing__head tr {
  display: grid;
  min-width: 200px;
  max-width: 495px;
}

.pricing__table th {
  display: grid;
  place-items: center start;
  width: 100%;
  height: 58px;
  padding-left: 24px;
  text-align: left;
}

.pricing__table th:first-child {
  display: grid;
  align-items: end;
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  height: 121px;
  padding: 24px;
}

.pricing__table th:nth-child(2n) {
  background-color: var(--cloud);
}

.pricing__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.pricing__body td {
  display: grid;
  place-items: center;
  width: 100%;
  height: 58px;
}

.pricing__body td:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 121px;
}

.pricing__body td:nth-child(2n) {
  background-color: var(--cloud);
}

.pricing__column-title {
  color: var(--title-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.pricing__body td:first-child {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.pricing__body td:has(.price-btn) {
  height: 100px;
}

.price__btn {
  width: 80%;
  max-width: 143px;
  height: 30px;
  border: 1px solid var(--red-color);
  border-radius: 4px;
  background-color: transparent;

  color: var(--red-color);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.price__btn:hover {
  background-color: var(--red-color);
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .pricing {
    padding: 60px 0 80px;
  }

  .pricing__table {
    grid-template-columns: 30% 70%;
    margin-top: 40px;
  }

  .pricing__column-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .pricing {
    padding: 60px 0 0;
  }

  .pricing__wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
  }

  .pricing__wrapper::-webkit-scrollbar {
    height: 6px;
  }

  .pricing__wrapper::-webkit-scrollbar-thumb {
    background-color: var(--red-color);
    border-radius: 10px;
  }

  .pricing__table {
    margin-top: 30px;
    min-width: 600px;
    box-shadow: none;
  }

  .pricing__column-title {
    font-size: 18px;
  }

  .pricing__column-price {
    font-size: 16px;
  }
}
