.offer {
  padding: 120px 0 90px;
}

.offer__container {
  position: relative;
  display: flex;
  gap: 105px;
}

.offer__title {
  text-align: left;
}

.offer__img {
  width: 100%;
  min-width: 500px;
  max-width: 600px;
  max-height: 440px;
}

.offer__info {
  min-width: 300px;
}

.offer__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 420px;
}

.offer svg {
  width: 24px;
  height: 24px;
  pointer-events: none;
  fill: var(--red-color);
}

.offer__list-title {
  display: flex;
  gap: 20px;
  align-items: center;
  color: var(--title-color);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 12px;
  pointer-events: none;
}

.offer__list-about {
  overflow: hidden;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
  padding: 0 0 0 44px;
  max-height: 0;
  height: 100%;
  transition: max-height 0.5s ease-in-out;
  pointer-events: none;
}

li.visible .offer__list-about {
  max-height: 500px;
}

@media screen and (max-width: 1440px) {
  .offer__container {
    gap: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .offer {
    padding: 100px 0 80px;
  }

  .offer__container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }

  .offer__title {
    margin-bottom: 40px;
  }

  .offer__list {
    max-width: 700px;
  }

  .offer__img {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .offer {
    padding: 80px 0 60px;
  }

  .offer__info {
    min-width: 0;
  }

  .offer__title {
    margin-bottom: 30px;
  }

  .offer__img {
    min-width: 0;
  }
}

@media screen and (max-width: 425px) {
  .offer {
    padding: 50px 0;
  }
}
