.projects {
  padding: 180px 0 100px;
}

.projects__title-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 60px;
}

.projects .section-title {
  text-align: left;
  margin: 0;
}

.projects-controls {
  display: flex;
  gap: 24px;
}

.projects-controls-btn {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}

.projects-controls-btn svg {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1024px) {
  .projects {
    padding: 140px 0 80px;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    padding: 90px 0 60px;
  }
}

@media screen and (max-width: 425px) {
  .projects {
    padding: 60px 0;
  }
}
