.pricing {
  padding: 80px 0 110px;
  background-color: var(--cloud);
  background-image: url('../../img/services-page-img/pricing-bg.png');
  background-position: -440px -245px;
  background-size: contain;
  background-repeat: no-repeat;
}

.pricing .section-title {
  margin-bottom: 24px;
}

.pricing-text {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.pricing-table {
  display: grid;
  grid-template-columns: 495px 685px;
  width: 100%;
  margin-top: 60px;

  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  outline: 1px solid rgb(240, 242, 245);
  border-radius: 4px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.pricing-table thead tr {
  display: grid;
}

.pricing-table th {
  display: grid;
  place-items: center start;
  width: 100%;
  height: 58px;
  padding-left: 24px;
}

.pricing-table th:first-child {
  display: grid;
  align-items: end;
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  height: 121px;
  padding: 24px;
}

.pricing-table th:nth-child(2n) {
  background-color: var(--cloud);
}

.pricing-table tbody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.pricing-table tbody td {
  display: grid;
  place-items: center;
  width: 245px;
  height: 58px;
}

.pricing-table tbody td:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 121px;
}

.pricing-table tbody td:nth-child(2n) {
  background-color: var(--cloud);
}

.pricing-table tbody tr p {
  color: var(--title-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.pricing-table tbody td:first-child {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.pricing-table tbody td:has(.price-btn) {
  height: 100px;
}

.price-btn {
  width: 143px;
  height: 36px;
  border: 1px solid var(--red-color);
  border-radius: 4px;
  background-color: transparent;

  color: var(--red-color);
  font-size: 12px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.price-btn:hover {
  background-color: var(--red-color);
  color: #fff;
}
